﻿@model testPengrasi.TBL_STUDENT

@{


    var year = new List<SelectListItem>();
    for (int i = (DateTime.Now.Year + 1); i >= (DateTime.Now.Year - 5); i--)
    {
        year.Add(new SelectListItem()
        {
            Text = i.ToString(),
            Value = i.ToString()
        });
    }

}

<h1 class="mt-4"></h1>
<h2>Manage Student</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item"><a href="@Url.Action("IndexHT","Student")">Manage Student</a></li>
    <li class="breadcrumb-item active">Add</li>
</ol>
<span class="text-danger">@ViewData["data"]</span>
<span class="text-danger">@ViewData["idstudentsama"]</span>
<span class="text-danger">@ViewData["nissame"]</span>
@*@ViewData["idstudentsama"]
@ViewData["nissame"]
@ViewData["data"]*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.FK_ID_CLASS)

        <div class="tab">
            <a class="tablinks" onclick="openTab(event, 'Student')" id="defaultOpen">Student</a>
            <a class="tablinks" onclick="openTab(event, 'Personal')">Personal</a>
            <a class="tablinks" onclick="openTab(event, 'Entry')">School Entry</a>
            <a class="tablinks" onclick="openTab(event, 'Parent')">Parent</a>
            <a class="tablinks" onclick="openTab(event, 'Guardian')">Guardian</a>
        </div>
        <div id="Student" class="tabcontent">
            <div class="form-group">
                @Html.Label("Student Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.STUDENT_NAME, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.STUDENT_NAME, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("NIS", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NIS, new { htmlAttributes = new { @class = "form-control", @required = "required", @maxlength = "13" } })
                    @Html.ValidationMessageFor(model => model.NIS, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Birthplace", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BIRTHPLACE, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BIRTHPLACE, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Birthdate", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BIRTHDATE, new { htmlAttributes = new { @class = "form-control datepicker" } })
                    @Html.ValidationMessageFor(model => model.BIRTHDATE, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Gender", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("GENDER", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.GENDER, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div id="Personal" class="tabcontent">
            <div class="form-group">
                @Html.Label("Religion", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("RELIGION", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RELIGION, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Status in Family", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ST_FAMILY, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ST_FAMILY, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Child order", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CHILD_ORDER, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CHILD_ORDER, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Address", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ADDRESS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ADDRESS, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Telephone", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NO_TLP, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NO_TLP, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div id="Entry" class="tabcontent">
            <div class="form-group">
                @Html.Label("Previous School", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PREV_SCH, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PREV_SCH, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Grade Entry", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GRADE_ENTER, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GRADE_ENTER, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Date Entry", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DATE_ENTER, new { htmlAttributes = new { @class = "form-control datepicker" } })
                    @Html.ValidationMessageFor(model => model.DATE_ENTER, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div id="Parent" class="tabcontent">
            <div class="form-group">
                @Html.Label("Father Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FATHER_NAME, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FATHER_NAME, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Mother Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MOTHER_NAME, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MOTHER_NAME, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Parent Address", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PARENT_ADDR, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PARENT_ADDR, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Parent Telephone", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NO_TLP_PARENT, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NO_TLP_PARENT, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Father job", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FATHER_JOB, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FATHER_JOB, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Mother Job", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MOTHER_JOB, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MOTHER_JOB, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div id="Guardian" class="tabcontent">
            <div class="form-group">
                @Html.Label("Guardian Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GUARD_NAME, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GUARD_NAME, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Guardian Telephone", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NO_TLP_GUARD, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NO_TLP_GUARD, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Guardian Address", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GUARD_ADDR, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GUARD_ADDR, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Guardian Job", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GUARD_JOB, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GUARD_JOB, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                    @Html.Label("School Year", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("year", year, "Select", htmlAttributes: new { @class = "form-control", onchange = "myFunction()" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Class", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.FK_ID_CLASS, (SelectList)ViewBag.ClassesList, "Select", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FK_ID_CLASS, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" name="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>

}


<script>
    var classes = $("#FK_ID_CLASS").html();
    function myFunction() {
        var txt = document.getElementById("year").options[document.getElementById("year").options.selectedIndex].text;
        $("#FK_ID_CLASS").find('option').show();
        $("#FK_ID_CLASS").find('option:not([value^="' + txt + '"])').hide();
        $('#FK_ID_CLASS').val("");
    }
</script>

<script src="~/Scripts/ConfirmExit.js"></script>