﻿@model testPengrasi.TBL_STUDENT

@{
    ViewBag.Title = "Delete";
}

<h1 class="mt-4"></h1>
<h2>Manage Student</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item"><a href="@Url.Action("IndexHT", "Student")">Manage Student</a></li>
    <li class="breadcrumb-item active">Delete</li>
</ol>
<span class="text-danger">@ViewData["data"]</span>
<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <table class="table" style="border-collapse :collapse" ; border:none">
        <tr>
            <td><li><b>Student Name :</b> @Html.DisplayFor(model => model.STUDENT_NAME)</li> </td>
            <td><li><b>NIS :</b> @Html.DisplayFor(model => model.NIS)</li></td>
        </tr>
        <tr>
            <td><li><b>Birthplace :</b> @Html.DisplayFor(model => model.BIRTHPLACE)</li> </td>
            <td><li><b>Religion :</b> @Html.DisplayFor(model => model.MS_RELIGION.RELIGION)</li> </td>
            @*<td><li><b>Birthdate :</b>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.BIRTHDATE))</li></td>*@
        </tr>
        <tr>
            <td><li><b>Status In Family :</b> @Html.DisplayFor(model => model.ST_FAMILY)</li> </td>
            <td><li><b>Child Order :</b> @Html.DisplayFor(model => model.CHILD_ORDER)</li></td>
        </tr>
        <tr>
            <td><li><b>Address :</b> @Html.DisplayFor(model => model.ADDRESS)</li> </td>
            <td><li><b>Telephone :</b> @Html.DisplayFor(model => model.NO_TLP)</li></td>
        </tr>
        <tr>
            <td><li><b>Previos School :</b> @Html.DisplayFor(model => model.PREV_SCH)</li> </td>
            <td><li><b>Grade Entry :</b> @Html.DisplayFor(model => model.GRADE_ENTER)</li></td>
        </tr>
        <tr>
            <td><li><b>Class :</b> @Html.DisplayFor(model => model.TBL_CLASS.CLASS_NAME)</li></td>
            @*<td><li><b>Date Entry :</b> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.DATE_ENTER))</li>*@ </td>
            <td><li><b>Father Name :</b> @Html.DisplayFor(model => model.FATHER_NAME)</li></td>
        </tr>
        <tr>
            <td><li><b>Mother Name :</b> @Html.DisplayFor(model => model.MOTHER_NAME)</li> </td>
            <td><li><b>Parent Address :</b> @Html.DisplayFor(model => model.PARENT_ADDR)</li></td>
        </tr>
        <tr>
            <td><li><b>Parent Telephone :</b> @Html.DisplayFor(model => model.NO_TLP_PARENT)</li> </td>
            <td><li><b>Father Job :</b> @Html.DisplayFor(model => model.FATHER_JOB)</li></td>
        </tr>
        <tr>
            <td><li><b>Mother Job :</b> @Html.DisplayFor(model => model.MOTHER_JOB)</li> </td>
            <td><li><b>Guardian Name :</b> @Html.DisplayFor(model => model.GUARD_NAME)</li></td>
        </tr>
        <tr>
            <td><li><b>Guardian Telephone :</b> @Html.DisplayFor(model => model.NO_TLP_GUARD)</li> </td>
            <td><li><b>Guardian Address :</b> @Html.DisplayFor(model => model.GUARD_ADDR)</li></td>
        </tr>
        <tr>
            <td><li><b>Guardian Job :</b> @Html.DisplayFor(model => model.GUARD_JOB)</li> </td>
            <td><li><b>Gender :</b> @Html.DisplayFor(model => model.MS_GENDER.GENDER)</li></td>
        </tr>
        <tr>
           
            <td><li><b>Class :</b> @Html.DisplayFor(model => model.TBL_CLASS.CLASS_NAME)</li></td>
        </tr>
    </table>




    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
