﻿@model IEnumerable<testPengrasi.TBL_STUDENT>

@{
    pengrasiEntities db = new pengrasiEntities();
    TBL_USER tb_user = db.TBL_USER.Where(x => x.ID_USER == @User.Identity.Name).FirstOrDefault();
    TBL_TEACHER tb_teacher = db.TBL_TEACHER.Where(x => x.ID_TEACHER == tb_user.FK_ID_TEACHER).FirstOrDefault();
    TBL_HOMEROOM tb_homeroom = db.TBL_HOMEROOM.Where(x => x.FK_ID_TEACHER == tb_teacher.ID_TEACHER).FirstOrDefault();
    TBL_CLASS tb_class = db.TBL_CLASS.Where(x => x.ID_CLASS == tb_homeroom.FK_ID_CLASS).FirstOrDefault();
    TBL_STUDENT tb_student = db.TBL_STUDENT.Where(x => x.FK_ID_CLASS == tb_class.ID_CLASS).FirstOrDefault();
}
<span class="text-danger">@ViewData["data"]</span>
<h1 class="mt-4"></h1>
<h2>Manage Student</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item active">Manage Student</li>
</ol>
<p>
    @Html.ActionLink("Create New", "CreateHT", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Student Data @tb_class.CLASS_NAME</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Student ID
                        </th>
                        <th>
                            Student Name
                        </th>
                        <th>
                            NIS
                        </th>
                        <th>
                            Gender
                        </th>

                        @*<th>
                                Class
                            </th>
                            <th>
                                Class Year
                            </th>*@
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            Student ID
                        </th>
                        <th>
                            Student Name
                        </th>
                        <th>
                            NIS
                        </th>
                        <th>
                            Gender
                        </th>

                        @*<th>
                                Class
                            </th>
                            <th>
                                Class Year
                            </th>*@
                        <th>Action</th>
                    </tr>
                </tfoot>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID_STUDENT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.STUDENT_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NIS)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.MS_GENDER.GENDER)
                        </td>


                        @*<td>
                                @Html.DisplayFor(modelItem => item.TBL_CLASS.CLASS_NAME)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TBL_CLASS.SCH_YEAR)
                            </td>*@
                        <td>
                            @Html.ActionLink("Edit", "EditHT", new { id = item.ID_STUDENT }, htmlAttributes: new { @class = "btn btn-primary" }) |
                            @Html.ActionLink("Details", "DetailsHT", new { id = item.ID_STUDENT }, htmlAttributes: new { @class = "btn btn-success" }) |
                            @Html.ActionLink("Delete", "DeleteHT", new { id = item.ID_STUDENT }, htmlAttributes: new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
