﻿@model IEnumerable<testPengrasi.StudentScore>


<span class="text-danger">@ViewData["data"]</span>
<h1 class="mt-4"></h1>
<h2>@ViewData["Class"] Student List</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item"><a href="@Url.Action("IndexTeach","ClassSubject")">Class List</a></li>
    <li class="breadcrumb-item active">Student List Score Theory</li>
</ol>
<p>
    @Html.ActionLink(linkText: "Back", actionName: "IndexTeach", controllerName: "ClassSubject", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
@*<p>
        @Html.ActionLink("Create New", "CreateHT", null, htmlAttributes: new { @class = "btn btn-primary" })
    </p>*@
<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Student Data for @ViewData["Subject"]</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Student ID
                        </th>
                        <th>
                            Student Name
                        </th>
                        <th>
                            NIS
                        </th>

                        <th>
                            Score
                        </th>
                        <th>
                            Predicat
                        </th>
                        @*<th>
            Class
        </th>
        <th>
            Class Year
        </th>*@
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            Student ID
                        </th>
                        <th>
                            Student Name
                        </th>
                        <th>
                            NIS
                        </th>

                        <th>
                            Score
                        </th>
                        <th>
                            Predicat
                        </th>
                        @*<th>
            Class
        </th>
        <th>
            Class Year
        </th>*@
                        <th>Action</th>
                    </tr>
                </tfoot>

                @foreach (var item in Model)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_STUDENT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.STUDENT_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NIS)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.SCORE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PREDIKAT)
                </td>
                @*<td>
            @Html.DisplayFor(modelItem => item.TBL_CLASS.CLASS_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TBL_CLASS.SCH_YEAR)
        </td>*@
                <td>
                    @Html.ActionLink(linkText: "Score", actionName: "Insert", controllerName: "Score", routeValues: new { id = item.ID_STUDENT, idSubj = ViewData["SubjClass"] }, htmlAttributes: new { @class = "btn btn-primary" })


                </td>
            </tr>
                }

            </table>
        </div>
    </div>
</div>






@*@{
        ViewBag.Title = "IndexTeacher";
    }

    <h2>IndexTeacher</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.STUDENT_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NIS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BIRTHPLACE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BIRTHDATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ST_FAMILY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CHILD_ORDER)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ADDRESS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NO_TLP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PREV_SCH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GRADE_ENTER)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DATE_ENTER)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FATHER_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MOTHER_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PARENT_ADDR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NO_TLP_PARENT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FATHER_JOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MOTHER_JOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GUARD_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NO_TLP_GUARD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GUARD_ADDR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GUARD_JOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MS_GENDER.GENDER)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MS_RELIGION.RELIGION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TBL_CLASS.CLASS_NAME)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.STUDENT_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NIS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BIRTHPLACE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BIRTHDATE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ST_FAMILY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CHILD_ORDER)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ADDRESS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NO_TLP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PREV_SCH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GRADE_ENTER)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DATE_ENTER)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FATHER_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MOTHER_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PARENT_ADDR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NO_TLP_PARENT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FATHER_JOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MOTHER_JOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GUARD_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NO_TLP_GUARD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GUARD_ADDR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GUARD_JOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MS_GENDER.GENDER)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MS_RELIGION.RELIGION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TBL_CLASS.CLASS_NAME)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID_STUDENT }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID_STUDENT }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID_STUDENT })
                </td>
            </tr>
        }

    </table>*@
