﻿@model IEnumerable<testPengrasi.TBL_STUDENT>

@{
    ViewBag.Title = "Index";
}
<span class="text-danger">@ViewData["data"]</span>
<h2>Master Student</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item active">Master Student</li>
</ol>

<p>
    @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Student Data</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Student ID
                        </th>
                        <th>
                            Student Name
                        </th>
                        <th>
                            NIS
                        </th>
                        <th>
                            Gender
                        </th>

                        <th>
                            Class
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            Student ID
                        </th>
                        <th>
                            Student Name
                        </th>
                        <th>
                            NIS
                        </th>
                        <th>
                            Gender
                        </th>

                        <th>
                            Class
                        </th>
                        <th>Action</th>
                    </tr>
                </tfoot>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID_STUDENT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.STUDENT_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NIS)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.MS_GENDER.GENDER)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.TBL_CLASS.CLASS_NAME)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID_STUDENT }, htmlAttributes: new { @class = "btn btn-primary" }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID_STUDENT }, htmlAttributes: new { @class = "btn btn-success" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID_STUDENT }, htmlAttributes: new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
