﻿@model testPengrasi.TBL_USER

@{
    ViewBag.Title = "Details";
}

<h1 class="mt-4"></h1>
<h2>Manage User</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item"><a href="@Url.Action("Index","User")">Manage User</a></li>
    <li class="breadcrumb-item active">Detail</li>
</ol>
<span class="text-danger">@ViewData["data"]</span>
<div>

    <hr />
    <table class="table" style="border-collapse :collapse" ; border:none">
        <tr>
            <td><li><b>Username :</b> @Html.DisplayFor(model => model.ID_USER)</li> </td>
            <td><li><b>Password :</b> **********</li></td>
        </tr>
        <tr>
            <td><li><b>Position :</b> @Html.DisplayFor(model => model.MS_ROLE.ROLE)</li> </td>
            <td><li><b>Name Teacher :</b> @Html.DisplayFor(model => model.TBL_TEACHER.TEACHER_NAME)</li></td>
        </tr>

    </table>


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_USER }, htmlAttributes: new { @class = "btn btn-primary" })
</p>