﻿@model IEnumerable<testPengrasi.TBL_USER>


<h1 class="mt-4"></h1>
<h2>Manage User</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item active">Manage User</li>
</ol>
<span class="text-danger">@ViewData["data"]</span>
<p>
    @Html.ActionLink("Add New User", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Class Data</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Username
                        </th>
                        <th>
                            Password
                        </th>
                        <th>
                            Position
                        </th>
                        <th>
                            Name
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            Username
                        </th>
                        <th>
                            Password
                        </th>
                        <th>
                            Position
                        </th>
                        <th>
                            Name
                        </th>
                        <th></th>
                    </tr>
                </tfoot>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID_USER)
                        </td>
                        <td>
                            ********
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MS_ROLE.ROLE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TBL_TEACHER.TEACHER_NAME)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID_USER }, htmlAttributes: new { @class = "btn btn-primary" }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID_USER }, htmlAttributes: new { @class = "btn btn-success" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID_USER }, htmlAttributes: new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
