﻿@{
    /**/

    pengrasiEntities dbnav = new pengrasiEntities();
    TBL_USER tb_user = dbnav.TBL_USER.Where(x => x.ID_USER == @User.Identity.Name).FirstOrDefault();


}
<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>

                @{if (@tb_user.POSITION == "Administrator")
                    {
                        <a class="nav-link" href="@Url.Action("Index","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Master
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("Index","Gender")">Gender</a>
                                <a class="nav-link" href="@Url.Action("Index","Grade")">Grade</a>
                                <a class="nav-link" href="@Url.Action("Index","Religion")">Religion</a>
                                <a class="nav-link" href="@Url.Action("Index","Subject")">Subject</a>
                                <a class="nav-link" href="@Url.Action("Index","Student")">Student</a>


                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayoutsAdmin" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Admin
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayoutsAdmin" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("Index","Teacher")">Manage Teacher</a>
                                <a class="nav-link" href="@Url.Action("Index","HomeroomTeacher")">Manage Homeroom Teacher</a>
                                <a class="nav-link" href="@Url.Action("Index","Class")">Manage Class</a>
                                <a class="nav-link" href="@Url.Action("Index","Department")">Manage Department</a>
                                <a class="nav-link" href="@Url.Action("Index","User")">Manage User</a>
                                <a class="nav-link" href="@Url.Action("Index","ClassSubject")">Class Subjects</a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayoutsHomeroomTeacher" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Homeroom Teacher
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayoutsHomeroomTeacher" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="#)">Manage Student</a>
                                <a class="nav-link" href="#">Manage Raport Student</a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayoutsTeacher" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Teacher
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayoutsTeacher" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("IndexTeach","ClassSubject")">Manage Score Student</a>
                            </nav>
                        </div>
                    }

                }
                @{if (@tb_user.POSITION == "Homeroom Teacher")
                    {
                        <a class="nav-link" href="@Url.Action("HomeroomTeacher","Test")">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayoutshomeroomTeacher" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Homeroom Teacher
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayoutshomeroomTeacher" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("IndexHT","Student")">Manage Student</a>
                                <a class="nav-link" href="@Url.Action("IndexClassSubjectHomeroom","ClassSubject")">Manage Score Student And Subject</a>
                                
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayoutsTeacher" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Teacher
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayoutsTeacher" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("IndexTeach","ClassSubject")">Manage Score Student</a>
                            </nav>
                        </div>

                    }
                }

                @{if (@tb_user.POSITION == "Teacher")
                    {
                        <a class="nav-link" href="@Url.Action("Teacher","Test")">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayoutsTeacher" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Teacher
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayoutsTeacher" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("IndexTeach","ClassSubject")">Manage Score Student</a>
                            </nav>
                        </div>

                    }
                }

                <a class="nav-link" href="@Url.Action("Index","Notification")">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Send Notification
                </a>


            </div>
        </div>
        <div class="sb-sidenav-footer" style="background-color:#8ec3f6">
            <div class="small">Dev By:</div>
            Team 2  Didit & Pram
        </div>
    </nav>
</div>