﻿@{
    pengrasiEntities dbnav = new pengrasiEntities();
    TBL_USER tb_user = dbnav.TBL_USER.Where(x => x.ID_USER == @User.Identity.Name).FirstOrDefault();
    

}

<nav class="sb-topnav navbar navbar-expand navbar-dark " style="background-color:#007bff">
    <a class="navbar-brand" href="@Url.Action("Index","Home")">
        <h6><img src="~/image/logo smk8.png" style="width:15%; height:15%" /> SMKN 8 Kab.Tangerang</h6>
    </a>
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        @*<div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" ><i class="fas fa-search"></i></button>
            </div>
        </div>*@
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item">Hi, @User.Identity.Name</a>
                <a class="dropdown-item"> @tb_user.MS_ROLE.ROLE</a>
                <a class="dropdown-item" href="@Url.Action("ChangePass","Login")"> Change Password</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="@Url.Action("Logout","Login")">Logout</a>
            </div>
        </li>
    </ul>
</nav>
