﻿@model testPengrasi.TBL_SUBJECT

@{
    ViewBag.Title = "Details";
}
<h1 class="mt-4"></h1>
<h2>Master > Subject >Details Subject</h2>
<span class="text-danger">@ViewData["data"]</span>
<div>
    <hr />
    <table class="table" style="border-collapse :collapse" ; border:none">
        <tr>
            <td><ul><li><b>ID Subject :</b> @Html.DisplayFor(model => model.ID_SUBJECT)</li> </ul></td>
            <td><ul><li><b>Subject Name :</b> @Html.DisplayFor(model => model.SUBJECT_NAME)</li> </ul></td>

        </tr>
        <tr>
            <td><ul><li><b>ID Subject :</b> @Html.DisplayFor(model => model.SKS)</li> </ul></td>
            
        </tr>

    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_SUBJECT }, htmlAttributes: new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index")
</p>
