﻿@model IEnumerable<testPengrasi.TBL_SUBJECT>

@{
    ViewBag.Title = "Index";
}

<h1 class="mt-4"></h1>
<h2>Master Subject</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item active">Master Subject</li>
</ol>
<span class="text-danger">@ViewData["data"]</span>
<p>
    @Html.ActionLink("Add New Subject", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>

<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Subject Data</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th> ID Subject</th>
                        <th> Subject Name</th>
                        <th> SKS</th>
                        <th> Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th> ID Subject </th>
                        <th> Subject Name</th>
                        <th> SKS</th>
                        <th> Action</th>
                    </tr>
                </tfoot>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID_SUBJECT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SUBJECT_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SKS)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID_SUBJECT }, htmlAttributes: new { @class = "btn btn-primary" }) |
                            @*@Html.ActionLink("Details", "Details", new { id = item.ID_SUBJECT }, htmlAttributes: new { @class = "btn btn-success" }) |*@
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID_SUBJECT }, htmlAttributes: new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
