﻿@model PengRaSi.MS_RELIGION

@{
    ViewBag.Title = "Details";
}

<h2>Master Religion</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Religion")">Master Religion</a></li>
    <li class="breadcrumb-item active">Detail</li>
</ol>
<span class="text-danger">@ViewData["data"]</span>
<div>
    <hr />
    <table class="table" style="border-collapse :collapse" ; border:none">
        <tr>
            <td><li><b>Religion :</b> @Html.DisplayFor(model => model.RELIGION)</li> </td>
            <td><li><b>Information :</b> @Html.DisplayFor(model => model.INFORMATION)</li> </td>
        </tr>

    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_RELIGION })
</p>
