﻿@model IEnumerable<PengRaSi.StudentRank>

@{
    ViewBag.Title = "Index";
}
<span class="text-danger">@ViewData["data"]</span>

<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item active">Master Student</li>
</ol>

<p>
    @Html.ActionLink("Print Report Ranking", "ShowReportRanking", new { sch = ViewData["SCH"], smt = ViewData["SMT"], clas = ViewData["CLASS"] }, htmlAttributes: new { @class = "btn btn-primary" })
    @*@Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })*@
</p>
<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Student Data</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="DataTableNoSort" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Student Name
                        </th>
                       
                        <th>
                            School Years
                        </th>
                        <th>
                            Class Name
                        </th>

                        <th>
                            Semester
                        </th>

                        <th>
                            Index Prestasi
                        </th>
                        <th>
                            Ranking
                        </th>
                        @*<th>Action</th>*@
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            Student Name
                        </th>
                        
                        <th>
                            School Years
                        </th>
                        <th>
                            Class Name
                        </th>

                        <th>
                            Semester
                        </th>

                        <th>
                            Index Prestasi
                        </th>
                        <th>
                            Ranking
                        </th>
                        @*<th>Action</th>*@
                    </tr>
                </tfoot>

                @foreach (var item in Model)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.STUDENT_NAME)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.SCH_YEAR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CLASS_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SMT)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IP_SMT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RANK)
                </td>
                @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID_STUDENT }, htmlAttributes: new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID_STUDENT }, htmlAttributes: new { @class = "btn btn-success" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID_STUDENT }, htmlAttributes: new { @class = "btn btn-danger" })
        </td>*@
            </tr>
                }

            </table>
        </div>
    </div>
</div>





