﻿@model IEnumerable<PengRaSi.StudentPractice>

<span class="text-danger">@ViewData["data"]</span>
<h1 class="mt-4"></h1>
<h2>@ViewData["Class"] Student List</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item"><a href="@Url.Action("IndexTeach","ClassSubject")">Class List</a></li>
    <li class="breadcrumb-item active">Student List Score Practice</li>
</ol>
<p>
    @Html.ActionLink(linkText: "Back", actionName: "IndexTeach", controllerName: "ClassSubject", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
@*<p>
        @Html.ActionLink("Create New", "CreateHT", null, htmlAttributes: new { @class = "btn btn-primary" })
    </p>*@
<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Student Data for @ViewData["Subject"]</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="DataTableNoSort" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Student ID
                        </th>
                        <th>
                            Student Name
                        </th>
                        <th>
                            NIS
                        </th>

                        <th>
                            Score
                        </th>
                        <th>
                            Predicat
                        </th>
                        @*<th>
                                Class
                            </th>
                            <th>
                                Class Year
                            </th>*@
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            Student ID
                        </th>
                        <th>
                            Student Name
                        </th>
                        <th>
                            NIS
                        </th>

                        <th>
                            Score
                        </th>
                        <th>
                            Predicat
                        </th>
                        @*<th>
                                Class
                            </th>
                            <th>
                                Class Year
                            </th>*@
                        <th>Action</th>
                    </tr>
                </tfoot>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID_STUDENT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.STUDENT_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NIS)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.SCORE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PREDIKAT)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.TBL_CLASS.CLASS_NAME)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TBL_CLASS.SCH_YEAR)
                            </td>*@
                        <td>
                            @Html.ActionLink(linkText: "Score", actionName: "InsertPractices", controllerName: "Score", routeValues: new { id = item.ID_STUDENT, idSubj = ViewData["SubjClass"] }, htmlAttributes: new { @class = "btn btn-primary" })


                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>