﻿@model PengRaSi.TBL_SIGNATURE

@{
    ViewBag.Title = "Create";
}

<h2>Signature</h2>

@using (Html.BeginForm("Create", "Signature",FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Select Signature</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.SIGNATURE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="postedFile" accept="image/*" />
            </div>
        </div>

        @Html.HiddenFor(model => model.FK_ID_TEACHER)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


