﻿@model testPengrasi.TBL_TEACHER

@{
    ViewBag.Title = "Details";
}

<h1 class="mt-4"></h1>
<h2>Manage Teacher</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Teacher")">Manage Teacher</a></li>
    <li class="breadcrumb-item active">Detail</li>
</ol>
<span class="text-danger">@ViewData["data"]</span>
<div>

    <hr />
    <table class="table" style="border-collapse :collapse" ; border:none">
        <tr>
            <td><li><b>Teacher Name :</b> @Html.DisplayFor(model => model.TEACHER_NAME)</li> </td>
            <td><li><b>NIP :</b> @Html.DisplayFor(model => model.NIP)</li></td>
        </tr>
        <tr>
            <td><li><b>Address :</b> @Html.DisplayFor(model => model.ADDRESS)</li> </td>
            <td><li><b>Gender :</b> @Html.DisplayFor(model => model.MS_GENDER.GENDER)</li></td>
        </tr>
        <tr>
            <td><li><b>Telephone :</b> @Html.DisplayFor(model => model.TELP)</li> </td>

        </tr>
    </table>


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_TEACHER }, htmlAttributes: new { @class = "btn btn-primary" })
</p>
