﻿@model PengRaSi.TBL_HOMEROOM

@{
    ViewBag.Title = "Details";
}
<h1 class="mt-4"></h1>
<h2>Manage Homeroom Teacher</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item"><a href="@Url.Action("Index","HomeroomTeacher")">Manage Homeroom Teacher</a></li>
    <li class="breadcrumb-item active">Detail</li>
</ol>
<span class="text-danger">@ViewData["data"]</span>
<div>

    <hr />
    <table class="table" style="border-collapse :collapse" ; border:none">
        <tr>
            <td><li><b>Class Name :</b> @Html.DisplayFor(model => model.TBL_CLASS.CLASS_NAME)</li> </td>
            <td><li><b>Teacher Name :</b> @Html.DisplayFor(model => model.TBL_TEACHER.TEACHER_NAME)</li> </td>
        </tr>
        <tr>

            <td><li><b>Year Class :</b> @Html.DisplayFor(model => model.TBL_CLASS.SCH_YEAR)</li> </td>

        </tr>

    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_HOMEROOM }, htmlAttributes: new { @class = "btn btn-primary" })
</p>
