﻿@model IEnumerable<PengRaSi.MS_PROV>

@{
    ViewBag.Title = "Index";
}

<h1 class="mt-4"></h1>
<span class="text-danger">@ViewData["data"]</span>
<h2>Master Province</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item active">Master Province</li>
</ol>
<p>
    @Html.ActionLink("Add New Province", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>

<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Province Data</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="DataTableNoSort" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Province</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Province</th>
                        <th>Action</th>
                    </tr>
                </tfoot>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PROVINCE)
                        </td>
                        <td>
                            @{
                                pengrasiEntities db = new pengrasiEntities();

                                var getFkidsubject = db.MS_CITY.Where(x => x.FK_ID_PROVENCE == item.ID_PROV);

                                if (!getFkidsubject.Any())
                                {
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID_PROV }, htmlAttributes: new { @class = "btn btn-danger", @onclick = "return confirm('Are you sure want to delete this data?');" })
                                }
                            }


                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
