﻿@model testPengrasi.TBL_USER

@{
    ViewBag.Title = "ChangePass";
}

<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header" style="background-color:blue"><h3 class="text-center font-weight-light my-4" style="color:white"></h3></div>
                            <div class="card-body">
                                @using (Html.BeginForm())
                                {

                                    @Html.AntiForgeryToken()

                                    <h4>Change Password</h4>
                                    @ViewData["data"]
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.ID_USER)
                                    @Html.HiddenFor(model => model.POSITION)
                                    @Html.HiddenFor(model => model.FK_ID_TEACHER)

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PASSWORD, "New Password", htmlAttributes: new { @class = "small mb-1" })
                                        @Html.PasswordFor(model => model.PASSWORD, htmlAttributes: new { @class = "form-control py-4" })
                                    </div>




                                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <input type="submit" value="Save" class="btn btn-primary" />
                                    </div>


                                }

                                <div>
                                    @Html.ActionLink("Back to Login", "Logout")
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
