﻿

@model PengRaSi.TBL_USER

<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header" style="background-color:blue"><h3 class="text-center font-weight-light my-4" style="color:white"><b>Welcome</b></h3></div>
                            <div class="card-body">
                                @using (Html.BeginForm())
                                {
                                    <span class="text-danger">@ViewData["data"]</span>
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ID_USER, "User ID", htmlAttributes: new { @class = "small mb-1" })
                                        @Html.EditorFor(model => model.ID_USER, new { htmlAttributes = new { @class = "form-control py-4", placeholder = "Enter User ID", @required = "required" } })

                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PASSWORD, "Password", htmlAttributes: new { @class = "small mb-1" })
                                        @Html.PasswordFor(model => model.PASSWORD, htmlAttributes: new { @class = "form-control py-4", placeholder = "Enter Password", @required = "required" })
                                    </div>
                                    <!--
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" />
                <label class="custom-control-label" for="rememberPasswordCheck">Remember password</label>
            </div>
        </div>
        -->
                                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <input type="submit" value="Login" class="btn btn-primary">
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="layoutAuthentication_footer">
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; SMKN 8 KABUPATEN TANGERANG</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>



