﻿@model PengRaSi.TBL_USER

@{
    ViewBag.Title = "Delete";
}

<h1 class="mt-4"></h1>
<h2>Manage User</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item"><a href="@Url.Action("Index","User")">Manage User</a></li>
    <li class="breadcrumb-item active">Delete</li>
</ol>
<span class="text-danger">@ViewData["data"]</span>
<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    <table class="table" style="border-collapse :collapse" ; border:none">
        <tr>
            <td><li><b>Username :</b> @Html.DisplayFor(model => model.ID_USER)</li> </td>
            <td><li><b>Password :</b> **********</li></td>
        </tr>
        <tr>
            <td><li><b>Position :</b> @Html.DisplayFor(model => model.MS_ROLE.ROLE)</li> </td>
            <td><li><b>Name Teacher :</b> @Html.DisplayFor(model => model.TBL_TEACHER.TEACHER_NAME)</li></td>
        </tr>

    </table>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
