﻿@model IEnumerable<PengRaSi.MS_GENDER>

@{
    ViewBag.Title = "Index";
}
<h1 class="mt-4"></h1>
<span class="text-danger">@ViewData["data"]</span>
<h2>Master Gender</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item active">Master Gender</li>
</ol>
<p>
    @Html.ActionLink("Add New Gender", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>

<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Gender Data</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="DataTableNoSort" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Gender</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Gender</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.GENDER)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID_GENDER }, htmlAttributes: new { @class = "btn btn-primary" }) 
                            @{
                                pengrasiEntities db = new pengrasiEntities();
                                
                                var getGender = db.TBL_STUDENT.Where(x => x.GENDER == item.ID_GENDER);
                                var getGenderTC = db.TBL_TEACHER.Where(x =>  x.FK_ID_GENDER== item.ID_GENDER);

                                if (!getGender.Any() && !getGenderTC.Any())
                                {

                                    
                                 <a>| </a> @Html.ActionLink("Delete", "Delete", new { id = item.ID_GENDER }, htmlAttributes: new { @class = "btn btn-danger" })
                                }
                            }

                            @*@Html.ActionLink("Details", "Details", new { id = item.ID_GENDER }, htmlAttributes: new { @class = "btn btn-success" }) |*@
                            @*@Html.ActionLink("Delete", "Delete", new { id = item.ID_GENDER }, htmlAttributes: new { @class = "btn btn-danger" })*@
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
