﻿@model testPengrasi.MS_SCH_YEAR

@{
    ViewBag.Title = "Details";
}
<h1 class="mt-4"></h1>
<h2>Details</h2>
<span class="text-danger">@ViewData["data"]</span>
<div>
    <hr />
    <table class="table" style="border-collapse :collapse" ; border:none">
        <tr>
            <td><li><b>School Year :</b> @Html.DisplayFor(model => model.SCH_YEAR)</li> </td>

        </tr>

    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_SCH_YEAR }) |
    @Html.ActionLink("Back to List", "Index")
</p>
