﻿@model IEnumerable<PengRaSi.TBL_STUDENT>

@{
    ViewBag.Title = "Index";
}
<h1 class="mt-4"></h1>
<h2>Student Report</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item"><a href="@Url.Action("SMTSel","StudentReport")">Select Semester</a></li>
    <li class="breadcrumb-item active">Select Student</li>
</ol>
<span class="text-danger">@ViewData["data"]</span>

<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Class Semester</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="DataTableNoSort" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>NIS</th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Student Name</th>
                        <th>NIS</th>

                        <th>Action</th>
                    </tr>
                </tfoot>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.STUDENT_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NIS)
                        </td>

                        <td>
                            @Html.ActionLink("View Report", "ShowReport", new { id = item.ID_STUDENT, smt = ViewData["SMT"] }, htmlAttributes: new { @class = "btn btn-primary" })
                            @Html.ActionLink("Student Biodata", "ShowStudentBio", new { id = item.ID_STUDENT }, htmlAttributes: new { @class = "btn btn-success" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
