﻿@model PengRaSi.TBL_NOTIF

@{
    ViewBag.Title = "Create";
}

<h1 class="mt-4"></h1>
<h2>Notification</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Notification")">Notification</a></li>
    <li class="breadcrumb-item active">Add</li>
</ol>
<span class="text-danger">@ViewData["data"]</span> 
<span class="text-danger">@ViewData["Nosamesender"]</span>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.SENDER)
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">

        <font class="text-danger" size="5">*</font>@Html.Label("Messages", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.INBOX, new { htmlAttributes = new { @class = "form-control", @required = "required", @maxlength = "100" } })
            @Html.ValidationMessageFor(model => model.INBOX, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <font class="text-danger" size="5">*</font>@Html.Label("Send To :", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("FK_ID_USER_RECEIVER", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FK_ID_USER_RECEIVER, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <font class="text-danger" size="2">Note : * Must Be Filled</font>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
