﻿@model testPengrasi.MS_GRADE

@{
    ViewBag.Title = "Details";
}
<h1 class="mt-4"></h1>
<h2>Master > Grade > Details Grade</h2>
<span class="text-danger">@ViewData["data"]</span>
<div>
    <hr />
    <table class="table" style="border-collapse :collapse" ; border:none">
        <tr>
            <td><li><b>Grade :</b> @Html.DisplayFor(model => model.GRADE)</li> </td>

        </tr>

    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_GRADE }) |
    @Html.ActionLink("Back to List", "Index")
</p>
