﻿@model IEnumerable<PengRaSi.MS_CITY>

@{
    ViewBag.Title = "Index";
}

<h1 class="mt-4"></h1>
<span class="text-danger">@ViewData["data"]</span>
<h2>Master Province</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item active">Master City</li>
</ol>
<p>
    @Html.ActionLink("Add New City", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>

<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>City Data</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="DataTableNoSort" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>City</th>
                        <th>Provence</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>City</th>
                        <th>Provence</th>
                        <th>Action</th>
                    </tr>
                </tfoot>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CITY)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MS_PROV.PROVINCE)
                        </td>
                        <td>
                             @{
                                pengrasiEntities db = new pengrasiEntities();

                                var getFkidCITY = db.TBL_STUDENT.Where(x => x.BIRTHPLACE == item.ID_CITY);

                                if (!getFkidCITY.Any())
                                {
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID_CITY }, htmlAttributes: new { @class = "btn btn-danger", @onclick = "return confirm('Are you sure want to delete this data?');" })
                                }
                            }
                          
                        </td>
                    </tr>
                }

            </table>
            </div>
        </div>
    </div>
