﻿@model PengRaSi.TBL_TRACKNOTIF

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TBL_TRACKNOTIF</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.INBOX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INBOX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FK_ID_USER_RECEIVER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FK_ID_USER_RECEIVER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SENDER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SENDER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATE_NOTIF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATE_NOTIF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACTION_NOTIF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACTION_NOTIF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATE_ACTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATE_ACTION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_TRACKNOTIF }) |
    @Html.ActionLink("Back to List", "Index")
</p>
