﻿@model IEnumerable<PengRaSi.TBL_TRACKNOTIF>

@{
    ViewBag.Title = "Index";
}

<h1 class="mt-4"></h1>
<h2>Notification</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item active">History/Track Notif</li>
</ol>
<span class="text-danger">@ViewData["data"]</span>

<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>History/Track Notif Data</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="DataTableNoSort" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th> Message</th>
                        <th> Receiver</th>
                        <th> Sender</th>
                        @*<th> Date Notif</th>*@
                        <th> Date Action</th>
                        <th> Action Notif</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th> Message</th>
                        <th> Receiver</th>
                        <th> Sender</th>
                        @*<th> Date Notif</th>*@
                        <th> Date Action</th>
                        <th> Action Notif</th>
                    </tr>
                </tfoot>

                @foreach (var item in Model)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.INBOX)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FK_ID_USER_RECEIVER)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SENDER)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.DATE_NOTIF)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.DATE_ACTION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ACTION_NOTIF)
                </td>

            </tr>
                }

            </table>
        </div>
    </div>
</div>




