﻿@model IEnumerable<PengRaSi.TBL_SUBJECT_CLASS>

@{
    ViewBag.Title = "Index";
}

<h1 class="mt-4"></h1>
<h2>Class Assignment</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item active">Manage Class Subjects</li>
</ol>

<span class="text-danger">@ViewData["data"]</span>

@*<p>
    @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>*@
<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>@ViewData["Teacher"] Classes Asignment Data</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="DataTableNoSort" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>School Year</th>
                        <th>Semester</th>
                        <th>Class</th>
                        <th>Subject</th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>School Year</th>
                        <th>Semester</th>
                        <th>Class</th>
                        <th>Subject</th>

                        <th>Action</th>
                    </tr>
                </tfoot>


                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TBL_CLASS.SCH_YEAR)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SMT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TBL_CLASS.CLASS_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TBL_SUBJECT.SUBJECT_NAME)
                        </td>

                        <td>

                            @Html.ActionLink(linkText: "Theory", actionName: "IndexTeacher", controllerName: "Student", routeValues: new { id = item.ID_SUBJECT_CLASS }, htmlAttributes: new { @class = "btn btn-primary" })|
                            @Html.ActionLink(linkText: "Atitude", actionName: "IndexTeacherScoreAtitude", controllerName: "Student", routeValues: new { id = item.ID_SUBJECT_CLASS }, htmlAttributes: new { @class = "btn btn-success" })|
                            @Html.ActionLink(linkText: "Practices", actionName: "IndexTeacherScorePractices", controllerName: "Student", routeValues: new { id = item.ID_SUBJECT_CLASS }, htmlAttributes: new { @class = "btn btn-danger" })|
                            @{
                                pengrasiEntities db = new pengrasiEntities();
                                var checkid = db.TBL_SUBJECT_HOMEROOM.Where(x => x.FK_ID_SUBJECT_CLASS == item.ID_SUBJECT_CLASS);
                                if (!checkid.Any())
                                {
                                    @Html.ActionLink(linkText: "Grant", actionName: "GrantAcc", controllerName: "SubjectHomeroom", routeValues: new { id = item.ID_SUBJECT_CLASS }, htmlAttributes: new { @class = "btn btn-primary", @onclick = "return confirm('You will GRANT access to Homeroom Teacher of this Class, are you sure?');" });
                                }
                                else
                                {
                                    @Html.ActionLink(linkText: "Deny", actionName: "DenyAcc", controllerName: "SubjectHomeroom", routeValues: new { id = checkid.FirstOrDefault().ID_SUBJECT_HOMEROOM }, htmlAttributes: new { @class = "btn btn-danger", @onclick = "return confirm('You will DENY access to Homeroom Teacher of this Class, are you sure?');" });
                                }

                            }
                            |@Html.ActionLink(linkText: "Report", actionName: "ReportTeacher", controllerName: "ClassSubject", routeValues: new { id = item.ID_SUBJECT_CLASS }, htmlAttributes: new { @class = "btn btn-primary" })
                        </td>
                        
                    </tr>
                    }
                

            </table>
        </div>
    </div>
</div>







