﻿@model IEnumerable<PengRaSi.TBL_SUBJECT_CLASS>

@{
    ViewBag.Title = "Index";
}

<h1 class="mt-4"></h1>
<h2>Manage Class Subjects</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item active">Manage Class Subjects</li>
</ol>

<span class="text-danger">@ViewData["data"]</span>

<p>
    @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Class Subjects Data</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="DataTableNoSort" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>School Year</th>
                        <th>Semester</th>
                        <th>Class</th>
                        <th>Subject</th>
                        <th>Teacher</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>School Year</th>
                        <th>Semester</th>
                        <th>Class</th>
                        <th>Subject</th>
                        <th>Teacher</th>
                        <th>Action</th>
                    </tr>
                </tfoot>


                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TBL_CLASS.SCH_YEAR)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SMT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TBL_CLASS.CLASS_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TBL_SUBJECT.SUBJECT_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TBL_TEACHER.TEACHER_NAME)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID_SUBJECT_CLASS }, htmlAttributes: new { @class = "btn btn-primary" }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID_SUBJECT_CLASS }, htmlAttributes: new { @class = "btn btn-success" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID_SUBJECT_CLASS }, htmlAttributes: new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>

