﻿@model PengRaSi.TBL_HOMEROOM

@{
    ViewBag.Title = "Delete";
}
<h1 class="mt-4"></h1>
<h2>Manage Homeroom Teacher</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item"><a href="@Url.Action("Index","HomeroomTeacher")">Manage Homeroom Teacher</a></li>
    <li class="breadcrumb-item active">Delete</li>
</ol>
<span class="text-danger">@ViewData["data"]</span>

<span class="text-danger">@ViewData["toteacher"]</span>
<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    <table class="table" style="border-collapse :collapse" ; border:none">
        <tr>

            <td><li><b>Teacher Name :</b> @Html.DisplayFor(model => model.TBL_TEACHER.TEACHER_NAME)</li> </td>
            <td><li><b>Class Name :</b> @Html.DisplayFor(model => model.TBL_CLASS.CLASS_NAME)</li> </td>
        </tr>
        <tr>

            <td><li><b>Year Class :</b> @Html.DisplayFor(model => model.TBL_CLASS.SCH_YEAR)</li> </td>

        </tr>

    </table>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
