﻿@model IEnumerable<PengRaSi.TBL_HOMEROOM>

@{
    ViewBag.Title = "Index";
}


<h1 class="mt-4"></h1>

<h2>Manage Homeroom Teacher</h2>
<span class="text-danger">@ViewData["data"]</span>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item active">Manage Homeroom Teacher</li>
</ol>
<p>
    @Html.ActionLink("Add New Hoomroom Teacher ", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Manage Hoomroom Teacher</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="DataTableNoSort" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Year
                        </th>
                        <th>
                            Class Name
                        </th>
                        <th>
                            Teacher Name
                        </th>
                        <th>
                            Action
                        </th>


                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            Year
                        </th>
                        <th>
                            Class Name
                        </th>
                        <th>
                            Teacher Name
                        </th>
                        <th>
                            Action
                        </th>


                    </tr>
                </tfoot>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TBL_CLASS.SCH_YEAR)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TBL_CLASS.CLASS_NAME)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.TBL_TEACHER.TEACHER_NAME)
                        </td>

                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID_HOMEROOM }, htmlAttributes: new { @class = "btn btn-primary" }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID_HOMEROOM }, htmlAttributes: new { @class = "btn btn-success" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID_HOMEROOM }, htmlAttributes: new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
