﻿@model testPengrasi.TBL_DEPT

@{
    ViewBag.Title = "Delete";
}

<h1 class="mt-4"></h1>
<h2>Manage Department</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Department")">Manage Department</a></li>
    <li class="breadcrumb-item active">Delete</li>
</ol>
<span class="text-danger">@ViewData["data"]</span>
<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    <table class="table" style="border-collapse :collapse" ; border:none">
        <tr>
            <td><li><b>Department Name :</b> @Html.DisplayFor(model => model.DEPT_NAME)</li> </td>
            <td><li><b>Short Name :</b> @Html.DisplayFor(model => model.NAME_SHORT)</li></td>
        </tr>

    </table>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
