﻿@model testPengrasi.TBL_DEPT

@{
    ViewBag.Title = "Details";
}

<h1 class="mt-4"></h1>
<h2>Manage Department</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Department")">Manage Department</a></li>
    <li class="breadcrumb-item active">Detail</li>
</ol>
<span class="text-danger">@ViewData["data"]</span>
<div>

    <hr />
    <table class="table" style="border-collapse :collapse" ; border:none">
        <tr>
            <td><li><b>Department Name :</b> @Html.DisplayFor(model => model.DEPT_NAME)</li> </td>
            <td><li><b>Short Name :</b> @Html.DisplayFor(model => model.NAME_SHORT)</li></td>
        </tr>

    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_DEPT }, htmlAttributes: new { @class = "btn btn-primary" })
</p>
