﻿@model IEnumerable<testPengrasi.TBL_DEPT>
<h1 class="mt-4"></h1>
<h2>Manage Department</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item active">Manage Department</li>
</ol>
<span class="text-danger">@ViewData["data"]</span>
<p>
    @Html.ActionLink("Add New Department", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Data Department</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        @*<th>
                                Department ID
                            </th>*@
                        <th>
                            Department Name
                        </th>
                        <th>
                            Department Short Name
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        @*<th>
                                Department ID
                            </th>*@
                        <th>
                            Department Name
                        </th>
                        <th>
                            Department Short Name
                        </th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                @foreach (var item in Model)
                {
                    <tr>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.ID_DEPT)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.DEPT_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NAME_SHORT)
                        </td>
                        <td>
                            <a class="btn btn-primary" @Html.ActionLink("Edit", "Edit", new { id = item.ID_DEPT }) |
                               @*<a class="btn btn-success"  @Html.ActionLink("Details", "Details", new { id = item.ID_DEPT }) |*@
                              <a class="btn btn-danger"  @Html.ActionLink("Delete", "Delete", new { id = item.ID_DEPT })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
