﻿@model testPengrasi.TBL_SCORE

@{
    ViewBag.Title = "Insert";
}

<h2>Insert</h2>
<span class="text-danger">@ViewData["data"]</span>
<span class="text-danger">@ViewData["range"]</span>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Score Example : 77,75", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SCORE, new { htmlAttributes = new { @class = "form-control", @maxlength = "6", @required = "required" } })
                @Html.ValidationMessageFor(model => model.SCORE, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.FK_ID_STUDENT)
        @Html.HiddenFor(model => model.FK_ID_SUBJECT_CLASS)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink(linkText: "Back", actionName: "IndexTeacher", controllerName: "Student", routeValues: new { id = Model.FK_ID_SUBJECT_CLASS }, htmlAttributes: new { @class = "" })
</div>*@
