﻿@model PengRaSi.TBL_SUBJECT_CLASS

@{
    ViewBag.Title = "Delete";
}
<h1 class="mt-4"></h1>
<h2>Manage Class Subjects</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item"><a href="@Url.Action("Index","HomeroomTeacher")">Manage Homeroom Teacher</a></li>
    <li class="breadcrumb-item active">Delete</li>
</ol>
<span class="text-danger">@ViewData["data"]</span>
<h3>Are you sure you want to delete this?</h3>
<div>
    
    <hr />
    <table class="table" style="border-collapse :collapse" ; border:none">
        <tr>
            <td><ul><li><b>School Year: </b>@Html.DisplayFor(model => model.TBL_CLASS.SCH_YEAR)</li></ul></td>
            <td><ul><li><b>Semester: </b>@Html.DisplayFor(model => model.SMT)</li></ul></td>
        </tr>
        <tr>
            <td><ul><li><b>Class: </b>@Html.DisplayFor(model => model.TBL_CLASS.CLASS_NAME)</li></ul></td>
            <td><ul><li><b>Subject: </b>@Html.DisplayFor(model => model.TBL_SUBJECT.SUBJECT_NAME)</li></ul></td>
        </tr>
        <tr>
            <td><ul><li><b>Teacher: </b>@Html.DisplayFor(model => model.TBL_TEACHER.TEACHER_NAME)</li></ul></td>
        </tr>
    </table>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
        </div>
    }
</div>
