﻿@model IEnumerable<PengRaSi.TBL_SUBJECT_CLASS>
<br />
@{

    pengrasiEntities db = new pengrasiEntities();
    TBL_USER tb_user = db.TBL_USER.Where(x => x.ID_USER == @User.Identity.Name).FirstOrDefault();
    var tBL_NOTIF = db.TBL_NOTIF.Where(x => x.FK_ID_USER_RECEIVER == tb_user.ID_USER).ToList();
}

@{
    int a = 0;
    foreach (var item in tBL_NOTIF)
    {

        <ol class="breadcrumb alert-success">
            @Html.ActionLink(linkText: "X", actionName: "Delete", controllerName: "Notification", routeValues: new { id = item.ID_NOTIF }, htmlAttributes: null)

            <span style="padding-left:20px"> FROM: @Html.DisplayFor(m => item.SENDER) At:@Html.DisplayFor(m => item.DATE_NOTIF), <b>"@Html.DisplayFor(m => item.INBOX)"</b> </span>
        </ol>
        a++;
        if (a >= 2)
        {

            break;
        }
        if (a > 0)
        {
            @*<audio id="myAudio" controls>
                <source src="~/Mp3/notif.mp3" type="audio/mpeg">
            </audio>*@
            <audio  id="SoundDelay" src="~/Mp3/notif.mp3" autoplay="autoplay"  ></audio>
        }

    }
}




<h2>Teacher</h2>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>

<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Manage Score Student</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="@Url.Action("IndexTeach","ClassSubject")">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">Signature</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="@Url.Action("Edit","Signature")">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Notifacation (Inbox)</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="@Url.Action("Index","Notification")">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">Notification (Sent Item)</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="@Url.Action("SentItem","Notification")">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>



<ul>
    <li>Teacher Name: @ViewBag.Teacher.TEACHER_NAME</li>
    <li>NIP: @ViewBag.Teacher.NIP </li>
    <li>
        Subject List:
        <table class="table table-bordered" cellspacing="0">
            <tr>
                <td><b>Subject<b></td>
                @foreach (var item in Model.GroupBy(x => x.FK_ID_SUBJECT).Select(x => x.First()))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.TBL_SUBJECT.SUBJECT_NAME)

                    </td>
                }
            </tr>
            <tr>
                <td><b>Total Class</b></td>
                @foreach (var item in Model.GroupBy(x => x.FK_ID_SUBJECT).Select(x => x.Count()))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item)

                    </td>

                }
            </tr>
        </table>
        <script src="~/Scripts/SoundDelay.js"></script>
    </li>
</ul>


