﻿@model LatihanLogin.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<table style="width:100%">
    <tr>
        <th> @Html.DisplayNameFor(model => model.position)</th>
        <th> @Html.DisplayNameFor(model => model.salary)</th>
        <th>Age</th>
    </tr>
    <tr>
        <td> @Html.DisplayFor(model => model.position)</td>
        <td>@Html.DisplayFor(model => model.salary)</td>
        <td>50</td>
    </tr>
    <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
    </tr>
</table>
<div>
    <h4>Employee</h4>
    <hr />
    
    @Html.DisplayNameFor(model => model.name)
    @Html.DisplayFor(model => model.name)
    <dl class="dl-horizontal">
        <dt>

        </dt>

        <dd>

        </dd>

        <dt>
           
        </dt>

        <dd>
           
        </dd>

        <dt>
           
        </dt>

        <dd>
            
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
