﻿@model IEnumerable<LatihanLogin.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>DataTable Example</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th> @Html.DisplayNameFor(model => model.name)</th>
                        <th>@Html.DisplayNameFor(model => model.position)</th>
                        <th> @Html.DisplayNameFor(model => model.salary)</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th> @Html.DisplayNameFor(model => model.name)</th>
                        <th>@Html.DisplayNameFor(model => model.position)</th>
                        <th> @Html.DisplayNameFor(model => model.salary)</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                  @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.position)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.salary)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.id })
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
        </div>
    </div>
</div>



