﻿@model PengRaSi.MS_SCH_YEAR

@{
    ViewBag.Title = "Delete";
}
<h1 class="mt-4"></h1>
<h2>Delete</h2>
<span class="text-danger">@ViewData["data"]</span>
<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    <table class="table" style="border-collapse :collapse" ; border:none">
        <tr>
            <td><li><b>School Year :</b> @Html.DisplayFor(model => model.SCH_YEAR)</li> </td>

        </tr>

    </table>



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
