﻿@model IEnumerable<PengRaSi.MS_SCH_YEAR>

@{
    ViewBag.Title = "Index";
}
<h1 class="mt-4"></h1>
<h2>Master School Year</h2>
<span class="text-danger">@ViewData["data"]</span>
<p>
    @Html.ActionLink("Add New School Year", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>

<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>School Year Data</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="DataTableNoSort" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th> School Year</th>
                        <th> Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th> School Year</th>
                        <th> Action</th>
                    </tr>
                </tfoot>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SCH_YEAR)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID_SCH_YEAR }, htmlAttributes: new { @class = "btn btn-primary" }) |
                            @*@Html.ActionLink("Details", "Details", new { id = item.ID_SCH_YEAR }, htmlAttributes: new { @class = "btn btn-success" }) |*@
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID_SCH_YEAR }, htmlAttributes: new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
