﻿@{
    pengrasiEntities db = new pengrasiEntities();
    TBL_USER tbUser = db.TBL_USER.Where(x => x.ID_USER == User.Identity.Name).FirstOrDefault();
    var pos = tbUser.POSITION;

    if (pos == "Administrator")
    {
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Dashboard</a></li>
    }
    else if (pos == "Homeroom Teacher")
    {
        <li class="breadcrumb-item"><a href="@Url.Action("HomeroomTeacher","Test")">Dashboard</a></li>
    }
    else if (pos == "Teacher")
    {
        <li class="breadcrumb-item"><a href="@Url.Action("Teacher","Test")">Dashboard</a></li>
    }
}
