﻿@model PengRaSi.TBL_NOTIF

@{
    ViewBag.Title = "Delete";
}

<h1 class="mt-4"></h1>
<h2>Notification</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Notification")">Notification</a></li>
    <li class="breadcrumb-item active">Delete</li>
</ol>
<span class="text-danger">@ViewData["data"]</span>
<h3>
    Have you done this action?
</h3>
<div>
    <hr />
    <table class="table" style="border-collapse :collapse" ; border:none">
        <tr>
            <td><li><b>Sender :</b> @Html.DisplayFor(model => model.SENDER)</li> </td>
            <td><li><b>At :</b> @Html.DisplayFor(model => model.DATE_NOTIF)</li> </td>
            <td><li><b>Messages :</b> @Html.DisplayFor(model => model.INBOX)</li> </td>

        </tr>

    </table>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-danger" />|
    @Html.ActionLink(linkText: "Reply", actionName: "ReplyNotif", controllerName: "Notification", routeValues: new { sender = Model.SENDER, message = Model.INBOX, date = Model.DATE_NOTIF }, htmlAttributes: new { @class = "btn btn-primary" })
</div>
    }
</div>

