﻿@model IEnumerable<PengRaSi.TBL_NOTIF>

@{
    ViewBag.Title = "Index";
}

<h1 class="mt-4"></h1>
<h2>Notification</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item active">Sent Notification</li>
</ol>
<span class="text-danger">@ViewData["data"]</span>
<p>
    @Html.ActionLink("Add New Notification", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>

<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Notification Data</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="DataTableNoSort" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th> Messages</th>
                        <th> Receiver</th>
                         <th> Date</th>
                        <th> Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th> Messages</th>
                        <th> Receiver</th>
                        <th> Date</th>
                        <th> Action</th>
                    </tr>
                </tfoot>

                @foreach (var item in Model)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.INBOX)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TBL_USER.TBL_TEACHER.TEACHER_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DATE_NOTIF)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.ID_NOTIF }, htmlAttributes: new { @class = "btn btn-primary" }) |*@
                    @Html.ActionLink("Details", "SentDetail", new { id = item.ID_NOTIF }, htmlAttributes: new { @class = "btn btn-success" })
                    |@Html.ActionLink("Delete", "SentDelete", new { id = item.ID_NOTIF }, htmlAttributes: new { @class = "btn btn-danger" })
                </td>
            </tr>
                }

            </table>
        </div>
    </div>
</div>
