﻿@model PengRaSi.MS_GRADE

@{
    ViewBag.Title = "Create";
}
<h1 class="mt-4"></h1>
<h2>Master Grade</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Grade")">Master Grade</a></li>
    <li class="breadcrumb-item active">Add</li>
</ol>
<span class="text-danger">@ViewData["data"]</span>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">

        <font class="text-danger" size="5">*</font>@Html.Label("Grade", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.GRADE, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
            @Html.ValidationMessageFor(model => model.GRADE, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <font class="text-danger" size="2">Note : * Must Be Filled</font>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</div>
}

