﻿@model PengRaSi.TBL_ATTENDANCE

@{
    ViewBag.Title = "Insert";
}

<h2>Insert Attendance For @ViewData["studentname"]</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />


    <div class="form-group">
        <font class="text-danger" size="5">*</font>@Html.LabelFor(model => model.ILL, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ILL, new { htmlAttributes = new { @class = "form-control", @required = "required", type = "number" } })
            @Html.ValidationMessageFor(model => model.ILL, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <font class="text-danger" size="5">*</font>@Html.LabelFor(model => model.PERMIT, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PERMIT, new { htmlAttributes = new { @class = "form-control", @required = "required", type = "number" } })
            @Html.ValidationMessageFor(model => model.PERMIT, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <font class="text-danger" size="5">*</font>@Html.LabelFor(model => model.ABSENT, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ABSENT, new { htmlAttributes = new { @class = "form-control", @required = "required", type = "number" } })
            @Html.ValidationMessageFor(model => model.ABSENT, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.HiddenFor(model => model.FK_ID_STUDENT)
    @Html.HiddenFor(model => model.FK_ID_CLASS_ATTEND)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <font class="text-danger" size="2">Note : * Must Be Filled</font>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
