﻿@model testPengrasi.TBL_SUBJECT_CLASS

@{
    ViewBag.Title = "Details";
}
<h1 class="mt-4"></h1>
<h2>Manage Class Subjects</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item"><a href="@Url.Action("Index","ClassSubject")">Manage Class Subjects</a></li>
    <li class="breadcrumb-item active">Detail</li>
</ol>
<span class="text-danger">@ViewData["data"]</span>
<div>
    <hr />
    <table class="table" style="border-collapse :collapse" ; border:none">
        <tr>
            <td><ul><li><b>School Year: </b>@Html.DisplayFor(model => model.TBL_CLASS.SCH_YEAR)</li></ul></td>
            <td><ul><li><b>Semester: </b>@Html.DisplayFor(model => model.SMT)</li></ul></td>
        </tr>
        <tr>
            <td><ul><li><b>Class: </b>@Html.DisplayFor(model => model.TBL_CLASS.CLASS_NAME)</li></ul></td>
            <td><ul><li><b>Subject: </b>@Html.DisplayFor(model => model.TBL_SUBJECT.SUBJECT_NAME)</li></ul></td>
        </tr>
        <tr>
            <td><ul><li><b>Teacher: </b>@Html.DisplayFor(model => model.TBL_TEACHER.TEACHER_NAME)</li></ul></td>
        </tr>
    </table>
    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_SUBJECT_CLASS }, htmlAttributes: new {@class="btn btn-primary" })
</p>
