﻿@model IEnumerable<testPengrasi.TBL_SUBJECT_CLASS>

@{
    ViewBag.Title = "Index";
}

<h1 class="mt-4"></h1>
<h2>Class Subjects List</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item active">Manage Score Student And Subject</li>
</ol>

<span class="text-danger">@ViewData["data"]</span>

@*<p>
        @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
    </p>*@
<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>@ViewData["Teacher"] Data Score Student And Subject</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>School Year</th>
                        <th>Semester</th>
                        <th>Class</th>
                        <th>Subject</th>
                        <th>Teacher Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>School Year</th>
                        <th>Semester</th>
                        <th>Class</th>
                        <th>Subject</th>
                        <th>Teacher Name</th>
                        <th>Action</th>
                    </tr>
                </tfoot>


                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TBL_CLASS.SCH_YEAR)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SMT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TBL_CLASS.CLASS_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TBL_SUBJECT.SUBJECT_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TBL_TEACHER.TEACHER_NAME)
                        </td>
                        <td>
                            @Html.ActionLink(linkText: "Theory", actionName: "IndexHRScoreTheory", controllerName: "Student", routeValues: new { id = item.ID_SUBJECT_CLASS }, htmlAttributes: new { @class = "btn btn-primary" })|
                            @Html.ActionLink(linkText: "Atitude", actionName: "IndexHRScoreAtitude", controllerName: "Student", routeValues: new { id = item.ID_SUBJECT_CLASS }, htmlAttributes: new { @class = "btn btn-success" })|
                            @Html.ActionLink(linkText: "Practices", actionName: "IndexHRScorePractices", controllerName: "Student", routeValues: new { id = item.ID_SUBJECT_CLASS }, htmlAttributes: new { @class = "btn btn-danger" })

                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>







