﻿@model IEnumerable<PengRaSi.TBL_TEACHER>

@{
    ViewBag.Title = "Index";
}

<h1 class="mt-4"></h1>
<h2>Manage Teacher</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item active">Manage Teacher</li>
</ol>
<span class="text-danger">@ViewData["data"]</span>
<p>
    @Html.ActionLink("Add New Teacher", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>

<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Teacher Data</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="DataTableNoSort" width="100%" cellspacing="0">

                <thead>
                    <tr>
                        <th>Teacher Name</th>
                        <th>NIP</th>
                        <th>Address</th>
                        <th>Telp</th>
                        <th>Gender</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Teacher Name</th>
                        <th>NIP</th>
                        <th>Address</th>
                        <th>Telp</th>
                        <th>Gender</th>
                        <th>Action</th>
                    </tr>
                </tfoot>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TEACHER_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NIP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ADDRESS)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TELP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MS_GENDER.GENDER)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID_TEACHER }, htmlAttributes: new { @class = "btn btn-primary" }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID_TEACHER }, htmlAttributes: new { @class = "btn btn-success" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID_TEACHER }, htmlAttributes: new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>

