﻿<br />
@{

    pengrasiEntities db = new pengrasiEntities();
    TBL_USER tb_user = db.TBL_USER.Where(x => x.ID_USER == @User.Identity.Name).FirstOrDefault();
    var tBL_NOTIF = db.TBL_NOTIF.Where(x => x.FK_ID_USER_RECEIVER == tb_user.ID_USER).ToList();
}

@{
    int a = 0;
    foreach (var item in tBL_NOTIF)
    {

        
        <ol class="breadcrumb alert-success">
            @Html.ActionLink(linkText: "X", actionName: "Delete", controllerName: "Notification", routeValues: new { id = item.ID_NOTIF }, htmlAttributes: null)

            <span style="padding-left:20px"> @Html.DisplayFor(m => item.INBOX) FROM: @Html.DisplayFor(m => item.SENDER)</span>
        </ol>
        a++;
        if (a >= 2)
        {

            break;
        }

        if (a > 0)
        {
            <audio src="~/Mp3/notif.mp3" autoplay="autoplay" loop="No"></audio>
        }

    }
}


<h2>Homeroom Teacher</h2>
<ol class="breadcrumb mb-4">

    @*<bgsound src="~/Mp3/notif.mp3"loop="1" balance="0" volume="100">*@
    <li class="breadcrumb-item active">Dashboard</li>
</ol>
