﻿@model IEnumerable<PengRaSi.HomeroomNote>

@{
    ViewBag.Title = "Index";
}

<h1 class="mt-4"></h1>
<h2>Homeroom Note</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item"><a href="@Url.Action("SMTSel","NoteHomeroom")">Select Semester</a></li>
    <li class="breadcrumb-item active">Homeroom Note</li>
</ol>

<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>@ViewData["Class"] Student Data</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="DataTableNoSort" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>NIS</th>
                        <th>Semester</th>
                        <th>Homeroom Note</th>
                        <th>Action</th>
                    </tr>

                </thead>
                <tfoot>
                    <tr>
                        <th>Student Name</th>
                        <th>NIS</th>
                        <th>Semester</th>
                        <th>Homeroom Note</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.STUDENT_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NIS)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.SMT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NOTE_HOMEROOM)
                        </td>
                        <td>
                            @Html.ActionLink("Homeroom Note", "Edit", new { id = item.ID_STUDENT, smt = ViewData["SMT"] },htmlAttributes:new {@class="btn btn-primary" })
                            
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
