﻿@model PengRaSi.TBL_USER

@{
    List<SelectListItem> pos = new List<SelectListItem>();
    pos.Add(new SelectListItem() { Text = "Teacher" });
    pos.Add(new SelectListItem() { Text = "Homeroom Teacher" });
    pos.Add(new SelectListItem() { Text = "Administrator" });
}

<h1 class="mt-4"></h1>
<h2>Manage User</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item"><a href="@Url.Action("Index","User")">Manage User</a></li>
    <li class="breadcrumb-item active">Add</li>
</ol>
<span class="text-danger">@ViewData["data"]</span>
<span class="text-danger">@ViewData["sama"]</span>
<span class="text-danger">@ViewData["homeroom"]</span>
@*@ViewData["data"]
@ViewData["sama"]
@ViewData["homeroom"]*@


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <font class="text-danger" size="5">*</font>@Html.Label("Username", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ID_USER, new { htmlAttributes = new { @class = "form-control", @required = "required", @maxlength = "10" } })
            @Html.ValidationMessageFor(model => model.ID_USER, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <font class="text-danger" size="5">*</font>@Html.Label("Password", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.PasswordFor(model => model.PASSWORD, htmlAttributes: new { @class = "form-control", @required = "required", @maxlength = "15" })
            @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <font class="text-danger" size="5">*</font>@Html.LabelFor(model => model.POSITION, "POSITION", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Position", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.POSITION, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <font class="text-danger" size="5">*</font>@Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("FK_ID_TEACHER", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FK_ID_TEACHER, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <font class="text-danger" size="2">Note : * Must Be Filled</font>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</div>
}

