﻿@model PengRaSi.TBL_USER



<h1 class="mt-4"></h1>
<h2>Manage User</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item"><a href="@Url.Action("Index","User")">Manage User</a></li>
    <li class="breadcrumb-item active">Edit</li>
</ol>
<span class="text-danger">@ViewData["data"]</span>
<span class="text-danger">@ViewData["sama"]</span>
<span class="text-danger">@ViewData["homeroom"]</span>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID_USER)

    <div class="form-group">
        <font class="text-danger" size="5">*</font>@Html.Label("Password", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.PasswordFor(model => model.PASSWORD, htmlAttributes: new { @class = "form-control", @required = "required", @maxlength = "15" })
            @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <font class="text-danger" size="5">*</font> @Html.LabelFor(model => model.POSITION, "POSITION", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("POSITION", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.POSITION, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <font class="text-danger" size="5">*</font> @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("FK_ID_TEACHER", null, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
            @Html.HiddenFor(Model => Model.FK_ID_TEACHER)
            @Html.ValidationMessageFor(model => model.FK_ID_TEACHER, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <font class="text-danger" size="2">Note : * Must Be Filled</font>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>
}
