﻿@model testPengrasi.TBL_HOMEROOM

@{
    ViewBag.Title = "Create";
    var year = new List<SelectListItem>();
    for (int i = (DateTime.Now.Year + 1); i >= (DateTime.Now.Year - 2); i--)
    {
        year.Add(new SelectListItem()
        {
            Text = i.ToString(),
            Value = i.ToString()
        });
    }

    string CurrentYear = DateTime.Now.Year.ToString();


}
<h1 class="mt-4"></h1>
<h2>Manage Homeroom Teacher</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item"><a href="@Url.Action("Index","HomeroomTeacher")">Manage Homeroom Teacher</a></li>
    <li class="breadcrumb-item active">Add</li>
</ol>
<span class="text-danger">@ViewData["data"]</span>
<span class="text-danger">@ViewData["class"]</span>
<span class="text-danger">@ViewData["teacher"]</span>
@*@ViewData["class"]
@ViewData["teacher"]*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Teacher Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FK_ID_TEACHER", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FK_ID_TEACHER, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("School Year", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("year", year, "Select", htmlAttributes: new { @class = "form-control", onchange = "myFunction()" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Class Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.FK_ID_CLASS, (SelectList)ViewBag.ClassesList, "Select", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FK_ID_CLASS, "", new { @class = "text-danger" })
                @*@Html.DropDownList("FK_ID_CLASS", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FK_ID_CLASS, "", new { @class = "text-danger" })*@
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


<script>
    var classes = $("#FK_ID_CLASS").html();
    function myFunction() {
        var txt = document.getElementById("year").options[document.getElementById("year").options.selectedIndex].text;
        $("#FK_ID_CLASS").find('option').show();
        $("#FK_ID_CLASS").find('option:not([value^="' + txt + '"])').hide();
        $('#FK_ID_CLASS').val("");
    }
</script>
