﻿@Html.Partial("Nav")
@model PengRaSi.kelas

<div id="layoutSidenav">
    @Html.Partial("SideNav")
    <div id="layoutSidenav_content">
        <div class="container-fluid">
            <main>
                <h1 class="mt-4">Delete Class</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Delete Class</li>
                </ol>

                <div>
                    
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.kelas1)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.kelas1)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.jurusan)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.jurusan)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-danger" /> |
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    }
                </div>

        </div>
    </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Your Website 2019</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>

</div>
</div>







