﻿@Html.Partial("Nav")
@model PengRaSi.kelas

<div id="layoutSidenav">
    @Html.Partial("SideNav")
    <div id="layoutSidenav_content">
        <div class="container-fluid">
            <main>
                <h1 class="mt-4">Edit Class</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Edit Class</li>
                </ol>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>kelas</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.id_kelas)

                        <div class="form-group">
                            @Html.DisplayNameFor(model => model.id_kelas)
                            @Html.DisplayFor(model => model.id_kelas)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.kelas1, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.kelas1, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.kelas1, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.jurusan, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.jurusan, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.jurusan, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-primary" />|
                                @Html.ActionLink("Back to List", "Index")
                            </div>
                        </div>
                    </div>
                }

                

</div>
    </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Your Website 2019</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>

</div>
</div>

