﻿@Html.Partial("Nav")
@model IEnumerable<PengRaSi.kelas>

<div id="layoutSidenav">
    @Html.Partial("SideNav")
    <div id="layoutSidenav_content">
        <div class="container-fluid">
            <main>
                <h1 class="mt-4">Manage Class</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Manage Class</li>
                </ol>
                <p>
                    <a class="btn btn-primary" @Html.ActionLink("Create New Class", "Create")
                </p>
                <div class="card mb-4">
                    <div class="card-header"><i class="fas fa-table mr-1"></i>Data Class</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th> ID Kelas </th>
                                        <th> Kelas </th>
                                        <th> Jurusan </th>
                                        <th> Action </th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th> ID Kelas </th>
                                        <th> Kelas </th>
                                        <th> Jurusan </th>
                                        <th> Action </th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.id_kelas)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.kelas1)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.jurusan)
                                            </td>
                                            <td>
                                                <a class="btn btn-primary" @Html.ActionLink("Edit", "Edit", new { id = item.id_kelas })
                                                   |
                                                <a class="btn btn-success" @Html.ActionLink("Details", "Details", new { id = item.id_kelas })
                                                |
                                                <a class="btn btn-danger"  @Html.ActionLink("Delete", "Delete", new { id = item.id_kelas })

                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
</div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2019</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>

    </div>
</div>









