﻿@model testPengrasi.MS_RELIGION

@{
    ViewBag.Title = "Delete";
}

<h2>Religion</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Religion")">Master Religion</a></li>
    <li class="breadcrumb-item active">Delete</li>
</ol>
<span class="text-danger">@ViewData["data"]</span>
<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <table class="table" style="border-collapse :collapse" ; border:none">
        <tr>
            <td><li><b>Religion :</b> @Html.DisplayFor(model => model.RELIGION)</li> </td>
            <td><li><b>Information :</b> @Html.DisplayFor(model => model.INFORMATION)</li> </td>
        </tr>

    </table>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
