﻿@model PengRaSi.TBL_SCORE

@{
    ViewBag.Title = "Insert";
}

    <h2>Insert Score Theory For @ViewData["studentname"]</h2>
<span class="text-danger">@ViewData["data"]</span>
<span class="text-danger">@ViewData["range"]</span>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <font class="text-danger" size="5">*</font>@Html.Label("Score Example : 77,75", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SCORE, new { htmlAttributes = new { @class = "form-control", @maxlength = "6", @required = "required" } })
            @Html.ValidationMessageFor(model => model.SCORE, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.HiddenFor(model => model.FK_ID_STUDENT)
    @Html.HiddenFor(model => model.FK_ID_SUBJECT_CLASS)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <font class="text-danger" size="2">Note : * Must Be Filled</font>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>
}

