﻿<br />
@{

    pengrasiEntities db = new pengrasiEntities();
    TBL_USER tb_user = db.TBL_USER.Where(x => x.ID_USER == @User.Identity.Name).FirstOrDefault();
    var tBL_NOTIF = db.TBL_NOTIF.Where(x => x.FK_ID_USER_RECEIVER == tb_user.ID_USER).ToList();
}

@{
    int a = 0;
    foreach (var item in tBL_NOTIF)
    {

        
        <ol class="breadcrumb alert-success">
            @Html.ActionLink(linkText: "X", actionName: "Delete", controllerName: "Notification", routeValues: new { id = item.ID_NOTIF }, htmlAttributes: null)

            <span style="padding-left:20px"> FROM: @Html.DisplayFor(m => item.SENDER) At:@Html.DisplayFor(m => item.DATE_NOTIF),  <b>"@Html.DisplayFor(m => item.INBOX)"</b>  </span>
        </ol>
        a++;
        if (a >= 2)
        {

            break;
        }

        if (a > 0)
        {
            <audio  id="SoundDelay" src="~/Mp3/notif.mp3" autoplay="autoplay"></audio>
        }

    }
}


<h2>Homeroom Teacher</h2>
<ol class="breadcrumb mb-4">

    @*<bgsound src="~/Mp3/notif.mp3"loop="1" balance="0" volume="100">*@
    <li class="breadcrumb-item active">Dashboard</li>
</ol>

<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Student Report</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="@Url.Action("SMTSel","StudentReport")">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">Student Ranking</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="@Url.Action("SMTSel","Student")">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Class Attendance </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="@Url.Action("Index","ClassAttendance")">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">Homeroom Note</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="@Url.Action("SMTSel","NoteHomeroom")">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>
