﻿@model testPengrasi.TBL_CLASS

@{
    ViewBag.Title = "Delete";
}

<h1 class="mt-4"></h1>
<h2>Manage Class</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Class")">Manage Class</a></li>
    <li class="breadcrumb-item active">Delete</li>
</ol>

<span class="text-danger">@ViewData["data"]</span>
<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <table class="table" style="border-collapse :collapse" ; border:none">
        <tr>
            <td><li><b>ID Class :</b> @Html.DisplayFor(model => model.ID_CLASS)</li> </td>
            <td><li><b>Class Name :</b> @Html.DisplayFor(model => model.CLASS_NAME)</li></td>
        </tr>
        <tr>
            <td><li><b>Grade :</b> @Html.DisplayFor(model => model.MS_GRADE.GRADE)</li> </td>
            <td><li><b>School Year :</b> @Html.DisplayFor(model => model.SCH_YEAR)</li></td>
        </tr>
        <tr>
            <td><li><b>Department :</b> @Html.DisplayFor(model => model.TBL_DEPT.DEPT_NAME)</li> </td>

        </tr>
    </table>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
