﻿@model testPengrasi.TBL_CLASS

@{
    ViewBag.Title = "Details";
}
<h1 class="mt-4"></h1>
<h2>Manage Class</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Class")">Manage Class</a></li>
    <li class="breadcrumb-item active">Detail</li>
</ol>
<span class="text-danger">@ViewData["data"]</span>
<div>

    <hr />
    <table class="table" style="border-collapse :collapse" ; border:none">
        <tr>
            <td><li><b>ID Class :</b> @Html.DisplayFor(model => model.ID_CLASS)</li> </td>
            <td><li><b>Class Name :</b> @Html.DisplayFor(model => model.CLASS_NAME)</li></td>
        </tr>
        <tr>
            <td><li><b>Grade :</b> @Html.DisplayFor(model => model.MS_GRADE.GRADE)</li> </td>
            <td><li><b>School Year :</b> @Html.DisplayFor(model => model.SCH_YEAR)</li></td>
        </tr>
        <tr>
            <td><li><b>Department :</b> @Html.DisplayFor(model => model.TBL_DEPT.DEPT_NAME)</li> </td>

        </tr>
    </table>


</div>
