﻿@model testPengrasi.TBL_CLASS

@{
    ViewBag.Title = "Edit";
}
<h1 class="mt-4"></h1>
<h2>Manage Class</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Class")">Manage Class</a></li>
    <li class="breadcrumb-item active">Edit</li>
</ol>
<span class="text-danger">@ViewData["data"]</span>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_CLASS)

        <div class="form-group">
            @Html.Label("School Year", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SCH_YEAR", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SCH_YEAR, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Grade", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GRADE", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GRADE, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.Label("Department", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FK_ID_DEPT", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FK_ID_DEPT, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Class No(1/2/3/etc)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("classNo", new { htmlAttributes = new { @class = "form-control", @type = "number" } })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
