﻿@model IEnumerable<testPengrasi.TBL_CLASS>

@{
    ViewBag.Title = "Index";
}

<h1 class="mt-4"></h1>
<h2>Manage Class</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item active">Manage Class</li>
</ol>
<span class="text-danger">@ViewData["data"]</span>

<p>
    <a class="btn btn-primary" @Html.ActionLink("Add New Class", "Create")
</p>
<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Class Data</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Class ID</th>
                        <th>Class Name</th>
                        <th>Grade</th>
                        <th>School Year</th>
                        <th>Department</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Class ID</th>
                        <th>Class Name</th>
                        <th>Grade</th>
                        <th>School Year</th>
                        <th>Department</th>
                        <th>Action</th>
                    </tr>
                </tfoot>


                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID_CLASS)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CLASS_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MS_GRADE.GRADE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SCH_YEAR)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TBL_DEPT.DEPT_NAME)
                        </td>
                        <td>
                            @*<a class="btn btn-primary" @Html.ActionLink("Edit", "Edit", new { id = item.ID_CLASS }) |*@
                            <a class="btn btn-success" @Html.ActionLink("Details", "Details", new { id = item.ID_CLASS }) |
                              <a class="btn btn-danger" @Html.ActionLink("Delete", "Delete", new { id = item.ID_CLASS })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
