﻿@model testPengrasi.MS_GENDER

@{
    ViewBag.Title = "Details";
}
<h1 class="mt-4"></h1>
<h2>Master > Gender > Details Gender</h2>
<span class="text-danger">@ViewData["data"]</span>
<div>
    <h4>Master Gender</h4>
    <hr />
    <table class="table" style="border-collapse :collapse" ; border:none">
        <tr>
            <td><li><b>Gender :</b> @Html.DisplayFor(model => model.GENDER)</li> </td>

        </tr>

    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_GENDER }, htmlAttributes: new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
