﻿@model PengRaSi.TBL_TEACHER

@{
    ViewBag.Title = "Delete";
}

<h1 class="mt-4"></h1>
<h2>Manage Teacher</h2>
<ol class="breadcrumb mb-4">
    @Html.Partial("~/Views/Shared/_PartialCrumb.cshtml")
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Teacher")">Manage Teacher</a></li>
    <li class="breadcrumb-item active">Delete</li>
</ol>
<span class="text-danger">@ViewData["data"]</span>
<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    <table class="table" style="border-collapse :collapse" ; border:none">
        <tr>
            <td><li><b>Teacher Name :</b> @Html.DisplayFor(model => model.TEACHER_NAME)</li> </td>
            <td><li><b>NIP :</b> @Html.DisplayFor(model => model.NIP)</li></td>
        </tr>
        <tr>
            <td><li><b>Address :</b> @Html.DisplayFor(model => model.ADDRESS)</li> </td>
            <td><li><b>Gender :</b> @Html.DisplayFor(model => model.MS_GENDER.GENDER)</li></td>
        </tr>
        <tr>
            <td><li><b>Telephone :</b> @Html.DisplayFor(model => model.TELP)</li> </td>

        </tr>
    </table>



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
