﻿@model PengRaSi.kelas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>kelas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tingkat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tingkat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jurusan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jurusan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_kelas }) |
    @Html.ActionLink("Back to List", "Index")
</p>
