﻿@Html.Partial("Nav")
@model IEnumerable<PengRaSi.kelas>

<div id="layoutSidenav" >
    @Html.Partial("SideNav")
    <div id="layoutSidenav_content">
        <div class="container-fluid">
            <main>
                <h2>Manage Class</h2>
                <p>
                    <!--<button href="CreateClass" type="button" class="btn-primary" >Create New Class</button> -->
                    <!--@Html.ActionLink("Create New Class", "CreateClass") -->
                    <a href="CreateClass" class="btn btn-primary">Create New Class</a>

                </p>
                <div class="card mb-4">
                    <div class="card-header"><i class="fas fa-table mr-1"></i>Data Class</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th> @Html.DisplayNameFor(model => model.tingkat)</th>
                                        <th> @Html.DisplayNameFor(model => model.jurusan)</th>

                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th> @Html.DisplayNameFor(model => model.tingkat)</th>
                                        <th> @Html.DisplayNameFor(model => model.jurusan)</th>

                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tingkat)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.jurusan)
                                            </td>

                                            <td>
                                                <a class="btn btn-primary" @Html.ActionLink("Edit", "EditClass", new { id = item.id_kelas }) 
                                                |
                                                <a class="btn btn-info" @Html.ActionLink("Details", "DetailsClass", new { id = item.id_kelas }) 
                                                |
                                                <a class="btn btn-danger"  @Html.ActionLink("Delete", "DeleteClass", new { id = item.id_kelas })
                                               
                                            </td>
                                </tr>
                                }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2019</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    </div>

